@color_primary: #0A0A50;
@color_primary_light: #05058e;

@color_secondary: #FFFFFF;
@color_secondary_light: #FFFFFF;

@color_special: rgba(255, 255, 255, 0.9);
@color_black: rgba(0, 0, 0, 1);
@color_black_light: rgba(0, 0, 0, 0.75);


@color_bg_plain: #F1F1F1;
@color_bg_light: rgba(10, 10, 80, 0.04);
@color_bg_50: rgba(0, 0, 0, 0.5);
@color_2: rgba(255, 255, 255, 0.9);

@border_color_1: rgba(255,255,255,0.3);
@card_radius: 10px;
@font_family_primary: 'Inter', sans-serif;

@screen_xxs:  425px;
@screen_xs:  575.98px;
@screen_sm:  767.98px;
@screen_md:  991.98px;
@screen_lg:  1199.98px;
@screen_lg_1280:  1280px;
@screen_xl:  1399.98px;

