
/* --- Parallax section --- */
.parallax-section {
  position: relative;
  min-height: 28rem;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding: 6rem 0;
  color: @color_secondary;
}
