
h2 {

}
a {
  text-decoration: none;
  color: @color_primary;
  &:hover {
    color: @color_primary_light;
    border-bottom: 1px solid @color_primary_light;
  }
}

.heading-lg {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.125;
  letter-spacing: -0.025rem;
  color: @color_primary;
  max-width: 22.875rem;
}

.heading-white {
  color: @color_secondary;
}

.subtitle {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25;
  color: @color_primary;
  margin-top: 5px;
}

.text-body {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.025rem;
  color: @color_black;
}

.text-lead {
  font-size: 1.375em;
  font-weight: 300;
  line-height: 2;
  color: @color_primary;
}

.text-section-label {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.875;
  color: @color_primary;
  margin-bottom: 0.5rem;
}
